In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('DATA/features.csv', index_col='match_id')
data.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>start_time</th>
      <th>lobby_type</th>
      <th>r1_hero</th>
      <th>r1_level</th>
      <th>r1_xp</th>
      <th>r1_gold</th>
      <th>r1_lh</th>
      <th>r1_kills</th>
      <th>r1_deaths</th>
      <th>r1_items</th>
      <th>...</th>
      <th>dire_boots_count</th>
      <th>dire_ward_observer_count</th>
      <th>dire_ward_sentry_count</th>
      <th>dire_first_ward_time</th>
      <th>duration</th>
      <th>radiant_win</th>
      <th>tower_status_radiant</th>
      <th>tower_status_dire</th>
      <th>barracks_status_radiant</th>
      <th>barracks_status_dire</th>
    </tr>
    <tr>
      <th>match_id</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1430198770</td>
      <td>7</td>
      <td>11</td>
      <td>5</td>
      <td>2098</td>
      <td>1489</td>
      <td>20</td>
      <td>0</td>
      <td>0</td>
      <td>7</td>
      <td>...</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>-52.0</td>
      <td>2874</td>
      <td>1</td>
      <td>1796</td>
      <td>0</td>
      <td>51</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1430220345</td>
      <td>0</td>
      <td>42</td>
      <td>4</td>
      <td>1188</td>
      <td>1033</td>
      <td>9</td>
      <td>0</td>
      <td>1</td>
      <td>12</td>
      <td>...</td>
      <td>4</td>
      <td>3</td>
      <td>1</td>
      <td>-5.0</td>
      <td>2463</td>
      <td>1</td>
      <td>1974</td>
      <td>0</td>
      <td>63</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1430227081</td>
      <td>7</td>
      <td>33</td>
      <td>4</td>
      <td>1319</td>
      <td>1270</td>
      <td>22</td>
      <td>0</td>
      <td>0</td>
      <td>12</td>
      <td>...</td>
      <td>4</td>
      <td>3</td>
      <td>1</td>
      <td>13.0</td>
      <td>2130</td>
      <td>0</td>
      <td>0</td>
      <td>1830</td>
      <td>0</td>
      <td>63</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1430263531</td>
      <td>1</td>
      <td>29</td>
      <td>4</td>
      <td>1779</td>
      <td>1056</td>
      <td>14</td>
      <td>0</td>
      <td>0</td>
      <td>5</td>
      <td>...</td>
      <td>4</td>
      <td>2</td>
      <td>0</td>
      <td>27.0</td>
      <td>1459</td>
      <td>0</td>
      <td>1920</td>
      <td>2047</td>
      <td>50</td>
      <td>63</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1430282290</td>
      <td>7</td>
      <td>13</td>
      <td>4</td>
      <td>1431</td>
      <td>1090</td>
      <td>8</td>
      <td>1</td>
      <td>0</td>
      <td>8</td>
      <td>...</td>
      <td>3</td>
      <td>3</td>
      <td>0</td>
      <td>-16.0</td>
      <td>2449</td>
      <td>0</td>
      <td>4</td>
      <td>1974</td>
      <td>3</td>
      <td>63</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 108 columns</p>
</div>